<div class="menu-header-main-mobile">
	<ul class="menu-header-main-mobile__items">
		<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_1 menu-header-main-mobile__item_current">
			<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_1 menu-header-main-mobile__link_current"
			   href="#" aria-current="page">Home</a></li>
		<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_1 menu-header-main-mobile__item_has-sub-items">
			<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_1 menu-header-main-mobile__link_has-sub-items"
			   href='#'>About Us</a>
			<ul class="menu-header-main-mobile__sub-items menu-header-main-mobile__sub-items_level_1">
				<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_2 menu-header-main-mobile__item_current">
					<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_2"
					   href="#">Sub menu item II</a></li>
				<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_2">
					<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_2"
					   href="#">Sub menu item II</a></li>
				<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_2 menu-header-main-mobile__item_has-sub-items">
					<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_2 menu-header-main-mobile__link_has-sub-items"
					   href="#">Sub menu item II</a>
					<ul class="menu-header-main-mobile__sub-items menu-header-main-mobile__sub-items_level_2">
						<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_3">
							<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_3"
							   href="#">Sub menu item III</a></li>
						<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_3">
							<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_3"
							   href="#">Sub menu item III</a></li>
						<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_3">
							<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_3"
							   href="#">Sub menu item III</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_1">
			<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_1"
			   href="#">Services</a></li>
		<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_1">
			<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_1"
			   href="#">Technology</a></li>
		<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_1">
			<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_1"
			   href="#">Careers</a></li>
		<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_1 menu-header-main-mobile__item_has-sub-items">
			<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_1 menu-header-main-mobile__link_has-sub-items"
			   href="#">Contact</a>
			<ul class="menu-header-main-mobile__sub-items menu-header-main-mobile__sub-items_level_1">
				<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_2">
					<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_2"
					   href="#">Sub menu item II</a></li>
				<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_2">
					<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_2"
					   href="#">Sub menu item II</a></li>
				<li class="menu-header-main-mobile__item menu-header-main-mobile__item_level_2">
					<a class="menu-header-main-mobile__link menu-header-main-mobile__link_level_2"
					   href="#">Sub menu item II</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class="menu-header-second-mobile">
	<ul class="menu-header-second-mobile__items">
		<li class="menu-header-second-mobile__item">
			<a class="menu-header-second-mobile__link menu-header-second-mobile__link_phone" href="tel:#">(123)
				456-7890</a></li>
		<li class="menu-header-second-mobile__item btn-link">
			<a class="menu-header-second-mobile__link btn-link" href="#">Get A Quote</a>
		</li>
		{{#if (isWoocommerce)}}
			<li class="menu-header-second-mobile__item menu-cart-link">
				{{>menu-cart-link count=3}}
			</li>
		{{/if}}
	</ul>
</div>
