---
pageTitle: Site Map
---

<link rel="stylesheet" href="{{root}}assets/css/menu-site-map.css">
<link rel="stylesheet" href="{{root}}assets/css/site-map.css">
<section class="site-map">
	<div class="inner">
		<h1 class="site-map__title">Site Map</h1>
		<div class="menu-site-map">
			<ul class="menu-site-map__items">
				<li class="menu-site-map__item menu-site-map__item_level_1">
					<a href="#" class="menu-site-map__link menu-site-map__link_level_1">Home</a>
				</li>
				<li class="menu-site-map__item menu-site-map__item_level_1">
					<a href="#" class="menu-site-map__link menu-site-map__link_level_1">Blog</a></li>
				<li class="menu-site-map__item menu-site-map__item_level_1 menu-site-map__item_has-sub-items">
					<a href="#" class="menu-site-map__link menu-site-map__link_level_1 menu-site-map__link_has-sub-items">Shop</a>
					<ul class="menu-site-map__sub-items menu-site-map__sub-items_level_1">
						<li class="menu-site-map__item menu-site-map__item_level_2">
							<a href="#" class="menu-site-map__link menu-site-map__link_level_2">Cart</a></li>
						<li class="menu-site-map__item menu-site-map__item_level_2">
							<a href="#" class="menu-site-map__link menu-site-map__link_level_2">Checkout</a></li>
						<li class="menu-site-map__item menu-site-map__item_level_2">
							<a href="#" class="menu-site-map__link menu-site-map__link_level_2">Wishlist</a>
						</li>
					</ul>
				</li>
				<li class="menu-site-map__item menu-site-map__item_level_1">
					<a href="#" class="menu-site-map__link menu-site-map__link_level_1">My account</a></li>
				<li class="menu-site-map__item menu-site-map__item_level_1">
					<a href="#" class="menu-site-map__link menu-site-map__link_level_1">Terms of Service</a></li>
				<li class="menu-site-map__item menu-site-map__item_level_1">
					<a href="#" class="menu-site-map__link menu-site-map__link_level_1">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</section>
