---
pageTitle: Thank You
---

<link rel="stylesheet" href="{{root}}assets/css/thank-you.css">
<section class="thank-you">
	<div class="inner">
		<div class="thank-you__wrapper">
			<h1 class="thank-you__title">Thank You!</h1>
			<p class="thank-you__subtitle">We will be in touch with you shortly</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, ac odio fermentum
				mi blandit. Quis ac iaculis odio quis.</p>
		</div>
		<div class="social-links">
			<h2 class="social-links__title-wrapper"><span class="social-links__title">Follow us on Social!</span></h2>
			<a href="#" class="social-links__link">
				<img class="social-links__image" src="{{root}}assets/images/social-icons/instagram.svg" alt="">
				<span class="social-links__text">Instagram</span>
			</a>
			<a href="#" class="social-links__link">
				<img class="social-links__image" src="{{root}}assets/images/social-icons/facebook.svg" alt="">
				<span class="social-links__text">Facebook</span>
			</a>
			<a href="#" class="social-links__link">
				<img class="social-links__image" src="{{root}}assets/images/social-icons/linkedin.svg" alt="">
				<span class="social-links__text">LinkedIn</span>
			</a>
		</div>
		<p><a class="thank-you__button btn" href="#">Back to Home</a></p>
	</div>
</section>
