{{!-- Garvity forms body component https://docs.gravityforms.com/form-body/ --}}

{{#if showError}}
	<div class="validation_error">There was a problem with your submission. Errors have been highlighted below.</div>
{{/if}}
<div class="gform_body">
	<div class="gform_fields top_label form_sublabel_below description_below">
		{{> @partial-block }}
	</div>
</div>
