{{!-- You can include first and last links by specifying the first_last parameter in true --}}
{{!-- Sample {{> pagination first_last=true}} --}}
<ul class="pagination">
	<li><a class="prev" href="#">&#129104; &nbsp; Previous</a></li>
	<li><a href="#">1</a></li>
	<li><span aria-current="page" class="current">2</span></li>
	<li><span class="dots">…</span></li>
	<li><a href="#">9</a></li>
	<li><a class="next" href="#">Next &nbsp; &#129106;</a></li>
</ul>

