<dialog class="popup" id={{id}}>
	<div class="popup__content">
		{{>@partial-block}}
	</div>
	<button class="popup__close-btn" type="button" data-close-popup-id={{id}}>
		<span>Close</span>
	</button>
</dialog>
