<li class="search-result">
	<article class="search-result__item accessibility-card">
		<div class="search-result__content">
			<h2 class="search-result__title title"><a class="search-result__link" href="#" aria-describedby="read-more-{{index}}">Qui aliqua occaeca</a></h2>
			<p class="search-result__text">Lorem ut quis excepteur ad. Laboris dolor deserunt nulla deserunt. Qui quis aliqua deserunt et Lorem elit
				qui. Aute sint sunt do officia culpa dolor et cupidatat reprehenderit qui. Magna ex ea ad occaecat
				cupidatat consectetur occaecat dolor eu officia Lorem. Labore dolore amet est officia commodo culpa
				minim consequat deserunt enim esse. Sit culpa cillum eu velit</p>
			<div class="search-result__more" aria-hidden="true" id="read-more-{{index}}">Read more</div>
		</div>
		<div class="search-result__thumbnail">
			<img class="search-result__image" src="{{root}}assets/images/lighthouse-test-img.png" alt="">
		</div>
	</article>
</li>
