<button class="tabs__button" id='tab-{{tabsIndex}}-{{tabIndex true}}'
		type="button"
		role="tab"
		aria-controls='tabpanel-{{tabsIndex}}-{{tabIndex}}'>
	<span class="focus">{{>@partial-block}}</span>
</button>
