<div class="tabs__tabpanel {{#unless first}} is-hidden{{/unless}}" id='tabpanel-{{tabsIndex}}-{{tabPanelIndex true}}'
	 role="tabpanel"
	 tabindex="0"
	 aria-labelledby='tab-{{tabsIndex}}-{{tabPanelIndex}}'>
	{{>@partial-block}}
</div>
