---
pageTitle: Product
wooPage: true
---

{{>woo-styles}}

<section id="product-357"
         class="product type-product post-357 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
	<div class="inner">
		<div
			class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images"
			data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
			<figure class="woocommerce-product-gallery__wrapper">
				<div class="woocommerce-product-gallery__image"
				     data-thumb="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
				     data-thumb-alt="">
					<a
						href="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						target="_blank" rel="noopener">
						<img width="600" height="600"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png"
						     class="wp-post-image" alt="" decoding="async" loading="lazy"
						     title="изображение_2023-03-31_210301091" data-caption=""
						     data-src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image_width="940" data-large_image_height="940"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300@2x.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100@2x.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
						     sizes="(max-width: 600px) 100vw, 600px">
					</a>
				</div>
				<div class="woocommerce-product-gallery__nav"
				     data-thumb="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
				     data-thumb-alt="">
					<a
						href="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						target="_blank" rel="noopener">
						<img width="100" height="100"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
						     class="" alt="" decoding="async" loading="lazy"
						     title="изображение_2023-03-31_210301091" data-caption=""
						     data-src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image_width="940" data-large_image_height="940"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
						     sizes="(max-width: 100px) 100vw, 100px">
					</a>
					<a
						href="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						target="_blank" rel="noopener">
						<img width="100" height="100"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
						     class="" alt="" decoding="async" loading="lazy"
						     title="изображение_2023-03-31_210301091" data-caption=""
						     data-src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image_width="940" data-large_image_height="940"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
						     sizes="(max-width: 100px) 100vw, 100px">
					</a>
					<a
						href="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						target="_blank" rel="noopener">
						<img width="100" height="100"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
						     class="" alt="" decoding="async" loading="lazy"
						     title="изображение_2023-03-31_210301091" data-caption=""
						     data-src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image_width="940" data-large_image_height="940"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
						     sizes="(max-width: 100px) 100vw, 100px">
					</a>
					<a
						href="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						target="_blank" rel="noopener">
						<img width="100" height="100"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
						     class="" alt="" decoding="async" loading="lazy"
						     title="изображение_2023-03-31_210301091" data-caption=""
						     data-src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image_width="940" data-large_image_height="940"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
						     sizes="(max-width: 100px) 100vw, 100px">
					</a>
					<a
						href="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						target="_blank" rel="noopener">
						<img width="100" height="100"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png"
						     class="" alt="" decoding="async" loading="lazy"
						     title="изображение_2023-03-31_210301091" data-caption=""
						     data-src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png"
						     data-large_image_width="940" data-large_image_height="940"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
						     sizes="(max-width: 100px) 100vw, 100px">
					</a>
				</div>
			</figure>
		</div>

		<div class="summary entry-summary">
			<h1 class="product_title entry-title">Samsung TU7000 43″<br> Class HDR 4K UHD</h1>
			<div class="woocommerce-product-rating">
				<div class="main-rating">
					<div class="rating_count">
						<div class="rating-result">
							<span class="active"></span><span class="active"></span><span class="active"></span><span
							class="active"></span><span class="active half"></span>
							<div class="rating-count">4.67</div>
						</div>
					</div>
				</div>
			</div>

			<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span
				class="woocommerce-Price-currencySymbol">$</span>299.99</bdi></span></p>
			<div class="woocommerce-product-details__short-description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum proin id lorem sed aliquet in. Mattis
					dictum morbi tempus vehicula massa orci vitae et convallis.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum proin id lorem sed aliquet in. Mattis
					dictum morbi tempus vehicula massa orci vitae et convallis.</p>
			</div>


			<form class="cart" action="https://wldbasethemdev.wpengine.com/product/samsung-tu7000-43-class-hdr-4k-uhd/"
			      method="post" enctype="multipart/form-data">

				<div class="quantity">
					<button type="button" class="qty-btn minus" title="Minus Quantity">-</button>
					<label class="screen-reader-text" for="quantity_642abd3bdbe7b">Quantity</label>
					<input type="number" id="quantity_642abd3bdbe7b" class="input-text qty text" name="quantity"
					       value="1"
					       title="Qty" size="4" min="1" max="" step="1" placeholder="" inputmode="numeric"
					       autocomplete="off">
					<button type="button" class="qty-btn plus" title="Plus Quantity">+</button>
				</div>

				<button type="submit" name="add-to-cart" value="357"
				        class="single_add_to_cart_button button alt wp-element-button ajax_add_to_cart add_to_cart_button"
				        data-quantity="1" data-product_id="357" data-product_sku="">Add to cart
				</button>

			</form>


			<div class="product_meta">
				<div class="accepting-payment-systems">
					<p>We Accept:</p>
					<div class="block-images">
						<img width="34" height="26"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/visa.png" class=""
						     alt="" decoding="async" loading="lazy"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/visa.png 34w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/visa-30x23.png 30w"
						     sizes="(max-width: 34px) 100vw, 34px">
						<img width="34" height="26"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/mastercard.png"
						     class="" alt="" decoding="async" loading="lazy"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/mastercard.png 34w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/mastercard-30x23.png 30w"
						     sizes="(max-width: 34px) 100vw, 34px">
						<img
							width="34" height="26"
							src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/amex.png" class=""
							alt=""
							decoding="async" loading="lazy"
							srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/amex.png 34w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/amex-30x23.png 30w"
							sizes="(max-width: 34px) 100vw, 34px">
						<img width="34" height="25"
						     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/ApplePay.png"
						     class="" alt="" decoding="async" loading="lazy"
						     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/ApplePay.png 34w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/ApplePay-30x22.png 30w"
						     sizes="(max-width: 34px) 100vw, 34px">
						<img
							width="34" height="25"
							src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/GooglePay.png" class=""
							alt="" decoding="async" loading="lazy"
							srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/GooglePay.png 34w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/04/GooglePay-30x22.png 30w"
							sizes="(max-width: 34px) 100vw, 34px">
					</div>
				</div>
			</div>
		</div>

		<div class="woocommerce-tabs wc-tabs-wrapper">
			<ul class="tabs wc-tabs" role="tablist">
				<li class="additional_information_tab active" id="tab-title-additional_information" role="tab"
				    aria-controls="tab-additional_information" aria-selected="true">
					<a href="#tab-additional_information">
						Additional information
					</a>
				</li>
				<li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews" tabindex="-1"
				    aria-selected="false">
					<a href="#tab-reviews">
						Reviews (4)
					</a>
				</li>
			</ul>
			<div
				class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab"
				id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">

				<h2>Additional information</h2>

				<table class="woocommerce-product-attributes shop_attributes">
					<tbody>
					<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
						<th class="woocommerce-product-attributes-item__label">Weight</th>
						<td class="woocommerce-product-attributes-item__value">0.8 kg</td>
					</tr>
					<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--dimensions">
						<th class="woocommerce-product-attributes-item__label">Dimensions</th>
						<td class="woocommerce-product-attributes-item__value">26.7 × 15.6 × 48 cm</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab is-hidden"
			     id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
				<div id="reviews" class="woocommerce-Reviews">
					<div id="comments">
						<h2 class="woocommerce-Reviews-title">Reviews(4) </h2>
						<div class="subtitle">
							<div class="main-rating">
								<div class="rating_count">
									<div class="rating-result">
										<span class="active"></span><span class="active"></span><span
										class="active"></span><span
										class="active"></span><span class="active half"></span>
										<div class="rating-count">4.67</div>
									</div>
								</div>
							</div>
							<div class="write-review">
								<button class="btn">Write a Review</button>
							</div>
						</div>
						<div id="review_form_wrapper">
							<div id="review_form">
								<div id="respond" class="comment-respond">
									<span id="reply-title" class="comment-reply-title">Write a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/product/samsung-tu7000-43-class-hdr-4k-uhd/#respond" style="display:none;">Cancel reply</a></small></span><form action="https://wldbasethemdev.wpengine.com/wp-comments-post.php?wpe-comment-post=wldbasethemdev" method="post" id="commentform" class="comment-form" novalidate>	<div id="acf-form-data" class="acf-hidden">
									<input type="hidden" id="_acf_screen" name="_acf_screen" value="comment"/><input type="hidden" id="_acf_post_id" name="_acf_post_id" value="0"/><input type="hidden" id="_acf_validation" name="_acf_validation" value="1"/><input type="hidden" id="_acf_nonce" name="_acf_nonce" value="4fbc07bf23"/><input type="hidden" id="_acf_changed" name="_acf_changed" value="0"/>	</div>
									<p class="comment-notes">*Indicates a required field</p><div class="comment-form-rating">
										<label for="rating">Score:&nbsp;<span class="required">*</span></label>
										<p class="stars selected">
											<span>
												<a class="star-1" href="#">1</a>
												<a class="star-2" href="#">2</a>
												<a class="star-3" href="#">3</a>
												<a class="star-4" href="#">4</a>
												<a class="star-5" href="#">5</a>
											</span>
										</p>
										<select name="rating" id="rating" required>
											<option value="">Rate&hellip;</option>
											<option value="5">Perfect</option>
											<option value="4">Good</option>
											<option value="3">Average</option>
											<option value="2">Not that bad</option>
											<option value="1">Very poor</option>
										</select>
									</div><p class="comment-form-title"><label for="title">Title&nbsp;<span class="required">*</span></label><input id="title" name="title_comment" type="text" value="" size="30" required/></p><p class="comment-form-comment">
										<label for="comment">Review&nbsp;<span class="required">*</span></label>
										<textarea id="comment" name="comment" cols="45" rows="8" required></textarea>
									</p><p class="comment-form-author"><label for="author">Use your name&nbsp;<span class="required">*</span></label><input id="author" name="author" type="text" value="" size="30" required/></p>
									<p class="comment-form-email"><label for="email">Email&nbsp;<span class="required">*</span></label><input id="email" name="email" type="email" value="" size="30" required /></p>
									<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post" /> <input type='hidden' name='comment_post_ID' value='357' id='comment_post_ID' />
										<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
									</p></form>	</div><!-- #respond -->
							</div>
						</div>
						<ol class="commentlist">
							<li class="review byuser comment-author-dualshockpstwogmail-com even thread-even depth-1" id="li-comment-8">

								<div id="comment-8" class="comment_container">

									<img alt='' src='https://secure.gravatar.com/avatar/03ebcf9ddde6199affd76da49782afce?s=60&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/03ebcf9ddde6199affd76da49782afce?s=120&#038;d=mm&#038;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' loading='lazy' decoding='async'/>
									<div class="comment-text">

										<div class="main-rating">
											<div class="rating_count">
												<div class="rating-result">
													<span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span><span class=""></span>					<div class="rating-count">rating</div>				</div>
											</div>
										</div>
										<p class="meta">
											<strong class="woocommerce-review__author">Maxim Stankovsky </strong>
										</p>
										<time class="woocommerce-review__published-date" datetime="2023-04-04T10:53:27+00:00">
											04.04.23		</time>
										<div class="description"><p>pagination!</p>
										</div><div class="comment-footer"></div>
									</div>
								</div>
							</li><!-- #comment-## -->
							<li class="review byuser comment-author-dualshockpstwogmail-com odd alt thread-odd thread-alt depth-1" id="li-comment-9">

								<div id="comment-9" class="comment_container">

									<img alt='' src='https://secure.gravatar.com/avatar/03ebcf9ddde6199affd76da49782afce?s=60&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/03ebcf9ddde6199affd76da49782afce?s=120&#038;d=mm&#038;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' loading='lazy' decoding='async'/>
									<div class="comment-text">

										<div class="main-rating">
											<div class="rating_count">
												<div class="rating-result">
													<span class="active"></span><span class="active"></span><span class="active"></span><span class=""></span><span class=""></span>					<div class="rating-count">rating</div>				</div>
											</div>
										</div>
										<p class="meta">
											<strong class="woocommerce-review__author">Maxim Stankovsky </strong>
										</p>
										<time class="woocommerce-review__published-date" datetime="2023-04-04T10:53:39+00:00">
											04.04.23		</time>
										<div class="description"><p>pagination!!</p>
										</div><div class="comment-footer"></div>
									</div>
								</div>
							</li><!-- #comment-## -->
						</ol>
						<nav class="woocommerce-pagination">
							<ul class="page-numbers">
								<li><a class="prev page-numbers"
								       href="https://wldbasethemdev.wpengine.com/shop/page/1/">Previous</a></li>
								<li><a class="page-numbers"
								       href="https://wldbasethemdev.wpengine.com/shop/page/1/">1</a></li>
								<li><span aria-current="page" class="page-numbers current">2</span></li>
								<li><a class="page-numbers"
								       href="https://wldbasethemdev.wpengine.com/shop/page/3/">3</a></li>
								<li><a class="page-numbers"
								       href="https://wldbasethemdev.wpengine.com/shop/page/4/">4</a></li>
								<li><a class="page-numbers"
								       href="https://wldbasethemdev.wpengine.com/shop/page/5/">5</a></li>
								<li><a class="next page-numbers"
								       href="https://wldbasethemdev.wpengine.com/shop/page/3/">Next</a></li>
							</ul>
						</nav>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="related products">
	<div class="inner">
		<h2>Related products</h2>
		<ul class="products columns-4">
			<li class="product type-product post-444 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
				<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-13/"
				   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
					<img width="80" height="100"
					     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					     class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					     alt="" decoding="async"
					     loading="lazy"
					     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					     sizes="(max-width: 80px) 100vw, 80px">
					<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)</h2>
					<div class="main-rating">
						<div class="rating_count">
							<div class="rating-result">
								<span class=""></span><span class=""></span><span class=""></span><span
								class=""></span><span
								class=""></span>
								<div class="rating-count">0</div>
							</div>
						</div>
					</div>
					<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
						class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
				</a>
				<a href="?add-to-cart=444" data-quantity="1"
				   class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
				   data-product_id="444" data-product_sku=""
				   aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart" rel="nofollow">Add
					to cart</a>
			</li>

			<li class="product type-product post-433 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
				<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-3/"
				   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
					<img width="80" height="100"
					     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					     class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					     alt="" decoding="async"
					     loading="lazy"
					     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					     sizes="(max-width: 80px) 100vw, 80px">
					<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)</h2>
					<div class="main-rating">
						<div class="rating_count">
							<div class="rating-result">
								<span class=""></span><span class=""></span><span class=""></span><span
								class=""></span><span
								class=""></span>
								<div class="rating-count">0</div>
							</div>
						</div>
					</div>
					<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
						class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
				</a>
				<a href="?add-to-cart=433" data-quantity="1"
				   class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
				   data-product_id="433" data-product_sku=""
				   aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart" rel="nofollow">Add
					to cart</a>
			</li>

			<li class="product type-product post-435 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
				<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-5/"
				   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
					<img width="80" height="100"
					     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					     class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					     alt="" decoding="async"
					     loading="lazy"
					     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					     sizes="(max-width: 80px) 100vw, 80px">
					<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)</h2>
					<div class="main-rating">
						<div class="rating_count">
							<div class="rating-result">
								<span class=""></span><span class=""></span><span class=""></span><span
								class=""></span><span
								class=""></span>
								<div class="rating-count">0</div>
							</div>
						</div>
					</div>
					<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
						class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
				</a>
				<a href="?add-to-cart=435" data-quantity="1"
				   class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
				   data-product_id="435" data-product_sku=""
				   aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart" rel="nofollow">Add
					to cart</a>
			</li>

			<li class="product type-product post-449 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
				<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-18/"
				   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
					<img width="80" height="100"
					     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					     class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					     alt="" decoding="async"
					     loading="lazy"
					     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					     sizes="(max-width: 80px) 100vw, 80px">
					<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)</h2>
					<div class="main-rating">
						<div class="rating_count">
							<div class="rating-result">
								<span class=""></span><span class=""></span><span class=""></span><span
								class=""></span><span
								class=""></span>
								<div class="rating-count">0</div>
							</div>
						</div>
					</div>
					<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
						class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
				</a>
				<a href="?add-to-cart=449" data-quantity="1"
				   class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
				   data-product_id="449" data-product_sku=""
				   aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart" rel="nofollow">Add
					to cart</a>
			</li>

			<li class="product type-product post-449 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
				<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-18/"
				   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
					<img width="80" height="100"
					     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					     class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					     alt="" decoding="async"
					     loading="lazy"
					     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					     sizes="(max-width: 80px) 100vw, 80px">
					<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)</h2>
					<div class="main-rating">
						<div class="rating_count">
							<div class="rating-result">
								<span class=""></span><span class=""></span><span class=""></span><span
								class=""></span><span
								class=""></span>
								<div class="rating-count">0</div>
							</div>
						</div>
					</div>
					<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
						class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
				</a>
				<a href="?add-to-cart=449" data-quantity="1"
				   class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
				   data-product_id="449" data-product_sku=""
				   aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart" rel="nofollow">Add
					to cart</a>
			</li>

			<li class="product type-product post-449 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
				<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-18/"
				   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
					<img width="80" height="100"
					     src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					     class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					     alt="" decoding="async"
					     loading="lazy"
					     srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					     sizes="(max-width: 80px) 100vw, 80px">
					<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)</h2>
					<div class="main-rating">
						<div class="rating_count">
							<div class="rating-result">
								<span class=""></span><span class=""></span><span class=""></span><span
								class=""></span><span
								class=""></span>
								<div class="rating-count">0</div>
							</div>
						</div>
					</div>
					<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
						class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
				</a>
				<a href="?add-to-cart=449" data-quantity="1"
				   class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
				   data-product_id="449" data-product_sku=""
				   aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart" rel="nofollow">Add
					to cart</a>
			</li>

		</ul>
	</div>
</section>
