---
pageTitle: Shop
wooPage: true
---

{{>woo-styles}}

<section class="shop" data-select2-id="select2-data-7-2xc7">
	<div class="inner" data-select2-id="select2-data-6-oyw4">
		<div class="filters">
			<div class="filters-manage">
				<label for="filters-manage">Filter</label>
				<select name="filters-manage" id="filters-manage">
					<option value="collapse_all">Collapse All</option>
					<option value="expand_all" selected>Expand All</option>
					<option value="expand_marked">Expand Marked</option>
				</select>
				<button class="close-filters-manage">Close</button>
			</div>
			<div class="wpfMainWrapper" id="wpfMainWrapper-3_565940" data-viewid="3_565940" data-filter="3"
			     data-settings="{&quot;posts_per_page&quot;:16,&quot;posts_per_row&quot;:&quot;&quot;,&quot;paged&quot;:0,&quot;base&quot;:&quot;https:\/\/wldbasethemdev.wpengine.com\/shop\/page\/%#%\/&quot;,&quot;format &quot;:&quot;&quot;,&quot;page_id&quot;:&quot;148&quot;,&quot;paginate_base&quot;:&quot;page&quot;,&quot;paginate_type&quot;:&quot;url&quot;}"
			     data-default-query=""
			     data-filter-settings="{&quot;settings&quot;:{&quot;display_on_page&quot;:&quot;shop&quot;,&quot;display_on_page_shortcode&quot;:&quot;0&quot;,&quot;display_for&quot;:&quot;both&quot;,&quot;force_show_current&quot;:&quot;0&quot;,&quot;desctop_mobile_breakpoint_switcher&quot;:&quot;0&quot;,&quot;desctop_mobile_breakpoint_width&quot;:&quot;0&quot;,&quot;hide_without_products&quot;:&quot;0&quot;,&quot;count_product_shop&quot;:&quot;0&quot;,&quot;columns_product_shop&quot;:&quot;0&quot;,&quot;enable_ajax&quot;:&quot;1&quot;,&quot;remove_actions&quot;:&quot;0&quot;,&quot;display_status_private&quot;:&quot;0&quot;,&quot;product_list_selector&quot;:&quot;&quot;,&quot;product_container_selector&quot;:&quot;&quot;,&quot;force_theme_templates&quot;:&quot;0&quot;,&quot;recalculate_filters&quot;:&quot;0&quot;,&quot;do_not_use_shortcut&quot;:&quot;0&quot;,&quot;show_filtering_button&quot;:&quot;0&quot;,&quot;filtering_button_word&quot;:&quot;Filter&quot;,&quot;auto_update_filter&quot;:&quot;0&quot;,&quot;show_clean_button&quot;:&quot;1&quot;,&quot;show_clean_button_word&quot;:&quot;Clear&quot;,&quot;reset_all_filters&quot;:&quot;1&quot;,&quot;main_buttons_position&quot;:&quot;bottom&quot;,&quot;main_buttons_order&quot;:&quot;left&quot;,&quot;all_products_filtering&quot;:&quot;0&quot;,&quot;show_clean_block&quot;:&quot;1&quot;,&quot;show_clean_block_word&quot;:&quot;Clear&quot;,&quot;filter_recount&quot;:&quot;0&quot;,&quot;filter_recount_price&quot;:&quot;0&quot;,&quot;filter_null_disabled&quot;:&quot;0&quot;,&quot;sort_by_title&quot;:&quot;0&quot;,&quot;checked_items_top&quot;:&quot;0&quot;,&quot;checked_items_bold&quot;:&quot;0&quot;,&quot;text_no_products&quot;:&quot;No products found&quot;,&quot;filtering_by_variations&quot;:&quot;1&quot;,&quot;form_filter_by_variations&quot;:&quot;0&quot;,&quot;exclude_backorder_variations&quot;:&quot;0&quot;,&quot;hide_filter_icon&quot;:&quot;1&quot;,&quot;use_title_as_slug&quot;:&quot;1&quot;,&quot;use_category_filtration&quot;:&quot;0&quot;,&quot;display_only_children_category&quot;:&quot;0&quot;,&quot;check_get_names&quot;:&quot;0&quot;,&quot;f_multi_logic&quot;:&quot;and&quot;,&quot;third_party_prefilter&quot;:&quot;0&quot;,&quot;filter_loader_icon_onload_enable&quot;:&quot;1&quot;,&quot;filter_loader_icon_color&quot;:&quot;#000000&quot;,&quot;filter_loader_icon_name&quot;:&quot;default&quot;,&quot;filter_loader_icon_number&quot;:&quot;0&quot;,&quot;enable_overlay&quot;:&quot;0&quot;,&quot;overlay_background&quot;:&quot;&quot;,&quot;enable_overlay_icon&quot;:&quot;0&quot;,&quot;enable_overlay_word&quot;:&quot;0&quot;,&quot;overlay_word&quot;:&quot;WooBeWoo&quot;,&quot;filter_width&quot;:&quot;100&quot;,&quot;filter_width_in&quot;:&quot;%&quot;,&quot;filter_width_mobile&quot;:&quot;100&quot;,&quot;filter_width_in_mobile&quot;:&quot;%&quot;,&quot;filter_block_width&quot;:&quot;100&quot;,&quot;filter_block_width_in&quot;:&quot;%&quot;,&quot;filter_block_width_mobile&quot;:&quot;100&quot;,&quot;filter_block_width_in_mobile&quot;:&quot;%&quot;,&quot;filter_block_height&quot;:&quot;&quot;,&quot;padding_child_list&quot;:&quot;&quot;,&quot;css_editor&quot;:&quot;&quot;,&quot;js_editor&quot;:&quot;&quot;,&quot;disable_fontawesome_loading&quot;:&quot;0&quot;,&quot;disable_plugin_styles&quot;:&quot;0&quot;,&quot;filters&quot;:{&quot;order&quot;:&quot;[{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_mfsw135nc\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_brand\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Brand\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;1\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;default\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}},{\&quot;id\&quot;:\&quot;wpfInStock\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_fkha8qk1a\&quot;,\&quot;name\&quot;:\&quot;\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Savings &amp; Stock\&quot;,\&quot;f_name\&quot;:\&quot;Stock status\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_options[]\&quot;:\&quot;instock,outofstock,onbackorder\&quot;,\&quot;f_status_names\&quot;:false}},{\&quot;id\&quot;:\&quot;wpfRating\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_q1h8frg27\&quot;,\&quot;name\&quot;:\&quot;\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Customer Rating\&quot;,\&quot;f_name\&quot;:\&quot;Rating\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;}},{\&quot;id\&quot;:\&quot;wpfPrice\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_iy6az3qxb\&quot;,\&quot;name\&quot;:\&quot;\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_description\&quot;:\&quot;Enter a price range:\&quot;,\&quot;f_title\&quot;:\&quot;Price\&quot;,\&quot;f_name\&quot;:\&quot;Price\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_skin_type\&quot;:\&quot;default\&quot;,\&quot;f_show_inputs\&quot;:true,\&quot;f_currency_position\&quot;:\&quot;before\&quot;,\&quot;f_currency_show_as\&quot;:\&quot;symbol\&quot;,\&quot;f_price_tooltip_show_as\&quot;:false}},{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_67nydw3y9\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_screen-size-ranges\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Screen Size Ranges\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;2\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;desc\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}},{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_l63nplvay\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_screen-size\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Screen Size\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;3\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;default\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}},{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_p1k69m5zf\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_year-released\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Year Released\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;4\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;default\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}},{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_jivjermey\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_display-technology\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Display Technology\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;5\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;default\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}},{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_6dmkpfzb5\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_virtual-assistant-support\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;Virtual Assistant Support\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;6\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;default\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}},{\&quot;id\&quot;:\&quot;wpfAttribute\&quot;,\&quot;uniqId\&quot;:\&quot;wpf_lp22d6gkf\&quot;,\&quot;name\&quot;:\&quot;wpf_filter_screen-size\&quot;,\&quot;settings\&quot;:{\&quot;f_enable\&quot;:true,\&quot;f_title\&quot;:\&quot;HDMI Inputs\&quot;,\&quot;f_name\&quot;:\&quot;Attribute\&quot;,\&quot;f_list\&quot;:\&quot;3\&quot;,\&quot;f_enable_title\&quot;:\&quot;yes_open\&quot;,\&quot;f_enable_title_mobile\&quot;:\&quot;yes_open\&quot;,\&quot;f_frontend_type\&quot;:\&quot;list\&quot;,\&quot;f_custom_tags\&quot;:false,\&quot;f_custom_tags_settings[header]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_1]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_2]\&quot;:\&quot;0\&quot;,\&quot;f_custom_tags_settings[title_3]\&quot;:\&quot;0\&quot;,\&quot;f_dropdown_search\&quot;:false,\&quot;f_order_custom\&quot;:false,\&quot;f_hide_empty\&quot;:false,\&quot;f_hide_empty_active\&quot;:false,\&quot;f_show_count\&quot;:false,\&quot;f_mlist[]\&quot;:\&quot;\&quot;,\&quot;\&quot;:\&quot;Select Some Options\&quot;,\&quot;f_hidden_attributes\&quot;:false,\&quot;f_query_logic\&quot;:\&quot;or\&quot;,\&quot;f_sort_by\&quot;:\&quot;default\&quot;,\&quot;f_show_search_input\&quot;:false,\&quot;f_show_all_attributes\&quot;:false,\&quot;f_layout\&quot;:\&quot;ver\&quot;,\&quot;f_ver_columns\&quot;:\&quot;1\&quot;,\&quot;f_max_height\&quot;:\&quot;200\&quot;}}]&quot;,&quot;preselect&quot;:&quot;&quot;}}}">
				<div class="wpfFilterWrapper " id="wpfBlock_1" data-order-key="0" data-filter-type="wpfAttribute"
				     data-get-attribute="wpf_filter_brand" data-display-type="list" data-content-type="taxonomy"
				     data-slug="brand" data-uniq-id="wpf_mfsw135nc" data-query-logic="or" data-radio="0"
				     data-taxonomy="pa_brand" data-label="brand" data-hide-active="0" data-show-all="0"
				     data-title="Brand" style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Brand</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: block;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll hide-items">
								<li data-term-id="64" data-parent="0" data-term-slug="engel"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox6448610"><label
									aria-label="Engel" for="wpfTaxonomyInputCheckbox6448610"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">Engel</div></span></span></label></li>
								<li data-term-id="33" data-parent="0" data-term-slug="furrion"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3341376"><label
									aria-label="Furrion" for="wpfTaxonomyInputCheckbox3341376"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Furrion</div></span></span></label>
								</li>
								<li data-term-id="48" data-parent="0" data-term-slug="grundig"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox482233"><label
									aria-label="Grundig" for="wpfTaxonomyInputCheckbox482233"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Grundig</div></span></span></label>
								</li>
								<li data-term-id="34" data-parent="0" data-term-slug="hisense"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox346698"><label
									aria-label="Hisense" for="wpfTaxonomyInputCheckbox346698"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Hisense</div></span></span></label>
								</li>
								<li data-term-id="53" data-parent="0" data-term-slug="hkc"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox538168"><label
									aria-label="HKC" for="wpfTaxonomyInputCheckbox538168"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">HKC</div></span></span></label></li>
								<li data-term-id="54" data-parent="0" data-term-slug="huawei"><label class="wpfLiLabel"><span
									class="wpfCheckbox"><input type="checkbox" id="wpfTaxonomyInputCheckbox5459030"><label aria-label="Huawei"
								                                                 for="wpfTaxonomyInputCheckbox5459030"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Huawei</div></span></span></label>
								</li>
								<li data-term-id="35" data-parent="0" data-term-slug="jvc"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3515037"><label
									aria-label="JVC" for="wpfTaxonomyInputCheckbox3515037"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">JVC</div></span></span></label></li>
								<li data-term-id="36" data-parent="0" data-term-slug="jvclg"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3673008"><label
									aria-label="JVCLG" for="wpfTaxonomyInputCheckbox3673008"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">JVCLG</div></span></span></label></li>
								<li data-term-id="55" data-parent="0" data-term-slug="leeco"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox558066"><label
									aria-label="LeEco" for="wpfTaxonomyInputCheckbox558066"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">LeEco</div></span></span></label></li>
								<li data-term-id="56" data-parent="0" data-term-slug="loewe"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5688352"><label
									aria-label="Loewe" for="wpfTaxonomyInputCheckbox5688352"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">Loewe</div></span></span></label></li>
								<li data-term-id="57" data-parent="0" data-term-slug="motorola"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5761073"><label
									aria-label="Motorola" for="wpfTaxonomyInputCheckbox5761073"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Motorola</div></span></span></label>
								</li>
								<li data-term-id="63" data-parent="0" data-term-slug="nokia"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox6366709"><label
									aria-label="Nokia" for="wpfTaxonomyInputCheckbox6366709"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">Nokia</div></span></span></label></li>
								<li data-term-id="58" data-parent="0" data-term-slug="oneplus"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5864958"><label
									aria-label="OnePlus" for="wpfTaxonomyInputCheckbox5864958"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">OnePlus</div></span></span></label>
								</li>
								<li data-term-id="49" data-parent="0" data-term-slug="panasonic"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4995324"><label
									aria-label="Panasonic" for="wpfTaxonomyInputCheckbox4995324"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Panasonic</div></span></span></label>
								</li>
								<li data-term-id="37" data-parent="0" data-term-slug="peerless-av"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3742966"><label
									aria-label="Peerless-AV" for="wpfTaxonomyInputCheckbox3742966"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Peerless-AV</div></span></span></label>
								</li>
								<li data-term-id="50" data-parent="0" data-term-slug="philips"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox509408"><label
									aria-label="Philips" for="wpfTaxonomyInputCheckbox509408"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Philips</div></span></span></label>
								</li>
								<li data-term-id="38" data-parent="0" data-term-slug="samsung"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3873654"><label
									aria-label="Samsung" for="wpfTaxonomyInputCheckbox3873654"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Samsung</div></span></span></label>
								</li>
								<li data-term-id="59" data-parent="0" data-term-slug="sharp"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5952998"><label
									aria-label="Sharp" for="wpfTaxonomyInputCheckbox5952998"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">Sharp</div></span></span></label></li>
								<li data-term-id="51" data-parent="0" data-term-slug="sony"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5129430"><label
									aria-label="Sony" for="wpfTaxonomyInputCheckbox5129430"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">Sony</div></span></span></label></li>
								<li data-term-id="52" data-parent="0" data-term-slug="tcl"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5214837"><label
									aria-label="TCL" for="wpfTaxonomyInputCheckbox5214837"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">TCL</div></span></span></label></li>
								<li data-term-id="60" data-parent="0" data-term-slug="telefunken"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox6023993"><label
									aria-label="Telefunken" for="wpfTaxonomyInputCheckbox6023993"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Telefunken</div></span></span></label>
								</li>
								<li data-term-id="61" data-parent="0" data-term-slug="toshiba"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox6138091"><label
									aria-label="Toshiba" for="wpfTaxonomyInputCheckbox6138091"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Toshiba</div></span></span></label>
								</li>
								<li data-term-id="62" data-parent="0" data-term-slug="xiaomi"><label class="wpfLiLabel"><span
									class="wpfCheckbox"><input type="checkbox"
								                               id="wpfTaxonomyInputCheckbox6251695"><label
									aria-label="Xiaomi" for="wpfTaxonomyInputCheckbox6251695"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Xiaomi</div></span></span></label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_2" data-order-key="1"
				     data-filter-type="wpfInStock" data-get-attribute="pr_stock" data-display-type="list"
				     data-content-type="meta" data-slug="stock status" data-uniq-id="wpf_fkha8qk1a"
				     data-title="Savings &amp; Stock" style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Savings &amp; Stock</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<ul class="wpfFilterVerScroll">
							<li data-term-id="1" data-parent="0" data-term-slug="instock"><label
								class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
							                                                        id="wpfTaxonomyInputCheckbox150215"><label
								aria-label="In Stock" for="wpfTaxonomyInputCheckbox150215"></label></span><span
								class="wpfDisplay"><span class="wpfValue"><div
								class="wpfFilterTaxNameWrapper">In Stock</div></span></span></label></li>
							<li data-term-id="2" data-parent="0" data-term-slug="outofstock"><label
								class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
							                                                        id="wpfTaxonomyInputCheckbox234516"><label
								aria-label="Out of Stock" for="wpfTaxonomyInputCheckbox234516"></label></span><span
								class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">Out of Stock</div></span></span></label>
							</li>
							<li data-term-id="3" data-parent="0" data-term-slug="onbackorder"><label class="wpfLiLabel"><span
								class="wpfCheckbox"><input type="checkbox" id="wpfTaxonomyInputCheckbox315699"><label
								aria-label="On Backorder" for="wpfTaxonomyInputCheckbox315699"></label></span><span
								class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">On Backorder</div></span></span></label>
							</li>
						</ul>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_3" data-order-key="2"
				     data-filter-type="wpfRating" data-get-attribute="pr_rating" data-display-type="list"
				     data-content-type="meta" data-slug="rating" data-uniq-id="wpf_q1h8frg27"
				     data-title="Customer Rating" style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Customer Rating</div>
						<i class="fa wpfTitleToggle fa-minus"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="5-5" data-parent="0" data-term-slug="5-5"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox5-58252"><label
									aria-label="5 only" for="wpfTaxonomyInputCheckbox5-58252"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">5 only</div></span></span></label>
								</li>
								<li data-term-id="4-5" data-parent="0" data-term-slug="4-5"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4-589467"><label
									aria-label="4 and up" for="wpfTaxonomyInputCheckbox4-589467"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">4 and up</div></span></span></label>
								</li>
								<li data-term-id="3-5" data-parent="0" data-term-slug="3-5"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3-589731"><label
									aria-label="3 and up" for="wpfTaxonomyInputCheckbox3-589731"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">3 and up</div></span></span></label>
								</li>
								<li data-term-id="2-5" data-parent="0" data-term-slug="2-5"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox2-587231"><label
									aria-label="2 and up" for="wpfTaxonomyInputCheckbox2-587231"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">2 and up</div></span></span></label>
								</li>
								<li data-term-id="1-5" data-parent="0" data-term-slug="1-5"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox1-576155"><label
									aria-label="1 and up" for="wpfTaxonomyInputCheckbox1-576155"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">1 and up</div></span></span></label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper " id="wpfBlock_4" data-order-key="3" data-filter-type="wpfPrice"
				     data-get-attribute="wpf_min_price,wpf_max_price,tax" data-content-type="meta" data-slug="price"
				     data-uniq-id="wpf_iy6az3qxb" data-price-skin="default" data-minvalue="15" data-maxvalue="300"
				     data-title="Price" style="visibility: inherit;">
					<div class="wpfVisibleBufferMin wpfVisibilityHidden" style="font-size: 16px;">20</div>
					<div class="wpfVisibleBufferMax wpfVisibilityHidden" style="font-size: 16px;">300</div>
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Price</div>
						<i class="fa wpfTitleToggle fa-minus"></i> <label class="wpfBlockClear" style="display: block;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wfpDescription">Enter a price range:</div>
						<div id="wpfSliderRange"
						     class="wpfPriceFilterRange ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
							<div class="ui-slider-range ui-corner-all ui-widget-header"
							     style="left: 1.75439%; width: 98.2456%;"></div>
							<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
							      style="left: 1.75439%;"></span>
							<span tabindex="0"
							                                           class="ui-slider-handle ui-corner-all ui-state-default"
							                                           style="left: 100%;"></span></div>
						<div class="wpfPriceInputs"><span class="wpfCurrencySymbol">$</span><input type="number"
						                                                                           min="15" max="299"
						                                                                           id="wpfMinPrice"
						                                                                           class="wpfPriceRangeField "
						                                                                           value="15"
						                                                                           style="width: 47.625px;"><span
							class="wpfFilterDelimeter"> - </span><input type="number" min="15" max="300"
						                                                id="wpfMaxPrice" class="wpfPriceRangeField "
						                                                value="300" style="width: 56.3281px;"> <input
							type="hidden" id="wpfDataStep" value="1">
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_5" data-order-key="4"
				     data-filter-type="wpfAttribute" data-get-attribute="wpf_filter_screen-size-ranges"
				     data-display-type="list" data-content-type="taxonomy" data-slug="screen-size-ranges"
				     data-uniq-id="wpf_67nydw3y9" data-query-logic="or" data-radio="0"
				     data-taxonomy="pa_screen-size-ranges" data-label="screen size ranges" data-hide-active="0"
				     data-show-all="0" data-title="Screen Size Ranges" style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Screen Size Ranges</div>
						<i class="fa wpfTitleToggle fa-minus"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="39" data-parent="0" data-term-slug="70-up"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox3927295"><label
									aria-label="70&quot; &amp; Up" for="wpfTaxonomyInputCheckbox3927295"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div class="wpfFilterTaxNameWrapper">70" &amp; Up</div></span></span></label>
								</li>
								<li data-term-id="40" data-parent="0" data-term-slug="60-69"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4047934"><label
									aria-label="60&quot; - 69&quot;"
									for="wpfTaxonomyInputCheckbox4047934"></label></span><span class="wpfDisplay"><span
									class="wpfValue"><div class="wpfFilterTaxNameWrapper">60" - 69"</div></span></span></label>
								</li>
								<li data-term-id="41" data-parent="0" data-term-slug="50-59"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4159777"><label
									aria-label="50&quot; - 59&quot;"
									for="wpfTaxonomyInputCheckbox4159777"></label></span><span class="wpfDisplay"><span
									class="wpfValue"><div class="wpfFilterTaxNameWrapper">50" - 59"</div></span></span></label>
								</li>
								<li data-term-id="42" data-parent="0" data-term-slug="44-49"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4241750"><label
									aria-label="44&quot; - 49&quot;"
									for="wpfTaxonomyInputCheckbox4241750"></label></span><span class="wpfDisplay"><span
									class="wpfValue"><div class="wpfFilterTaxNameWrapper">44" - 49"</div></span></span></label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_6" data-order-key="5"
				     data-filter-type="wpfAttribute" data-get-attribute="wpf_filter_screen-size_5"
				     data-display-type="list" data-content-type="taxonomy" data-slug="screen-size"
				     data-uniq-id="wpf_l63nplvay" data-query-logic="or" data-radio="0" data-taxonomy="pa_screen-size"
				     data-label="screen size" data-hide-active="0" data-show-all="0" data-title="Screen Size"
				     style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Screen Size</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="45" data-parent="0" data-term-slug="test"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4591571"><label
									aria-label="test" for="wpfTaxonomyInputCheckbox4591571"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">test</div></span></span></label></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_7" data-order-key="6"
				     data-filter-type="wpfAttribute" data-get-attribute="wpf_filter_year-released"
				     data-display-type="list" data-content-type="taxonomy" data-slug="year-released"
				     data-uniq-id="wpf_p1k69m5zf" data-query-logic="or" data-radio="0" data-taxonomy="pa_year-released"
				     data-label="year released" data-hide-active="0" data-show-all="0" data-title="Year Released"
				     style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Year Released</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="47" data-parent="0" data-term-slug="test"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4739204"><label
									aria-label="test" for="wpfTaxonomyInputCheckbox4739204"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">test</div></span></span></label></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_8" data-order-key="7"
				     data-filter-type="wpfAttribute" data-get-attribute="wpf_filter_display-technology"
				     data-display-type="list" data-content-type="taxonomy" data-slug="display-technology"
				     data-uniq-id="wpf_jivjermey" data-query-logic="or" data-radio="0"
				     data-taxonomy="pa_display-technology" data-label="display technology" data-hide-active="0"
				     data-show-all="0" data-title="Display Technology" style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Display Technology</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="43" data-parent="0" data-term-slug="test"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4367044"><label
									aria-label="test" for="wpfTaxonomyInputCheckbox4367044"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">test</div></span></span></label></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_9" data-order-key="8"
				     data-filter-type="wpfAttribute" data-get-attribute="wpf_filter_virtual-assistant-support"
				     data-display-type="list" data-content-type="taxonomy" data-slug="virtual-assistant-support"
				     data-uniq-id="wpf_6dmkpfzb5" data-query-logic="or" data-radio="0"
				     data-taxonomy="pa_virtual-assistant-support" data-label="virtual assistant support"
				     data-hide-active="0" data-show-all="0" data-title="Virtual Assistant Support"
				     style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">Virtual Assistant Support</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="46" data-parent="0" data-term-slug="test"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4698133"><label
									aria-label="test" for="wpfTaxonomyInputCheckbox4698133"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">test</div></span></span></label></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterWrapper wpfNotActive" id="wpfBlock_10" data-order-key="9"
				     data-filter-type="wpfAttribute" data-get-attribute="wpf_filter_screen-size_9"
				     data-display-type="list" data-content-type="taxonomy" data-slug="screen-size"
				     data-uniq-id="wpf_lp22d6gkf" data-query-logic="or" data-radio="0" data-taxonomy="pa_screen-size"
				     data-label="screen size" data-hide-active="0" data-show-all="0" data-title="HDMI Inputs"
				     style="visibility: inherit;">
					<div class="wpfFilterTitle">
						<div class="wfpTitle wfpClickable">HDMI Inputs</div>
						<i class="fa fa-minus wpfTitleToggle"></i> <label class="wpfBlockClear" style="display: none;">Clear</label>
					</div>
					<div class="wpfFilterContent">
						<div class="wpfCheckboxHier">
							<ul class="wpfFilterVerScroll">
								<li data-term-id="45" data-parent="0" data-term-slug="test"><label
									class="wpfLiLabel"><span class="wpfCheckbox"><input type="checkbox"
								                                                        id="wpfTaxonomyInputCheckbox4585236"><label
									aria-label="test" for="wpfTaxonomyInputCheckbox4585236"></label></span><span
									class="wpfDisplay"><span class="wpfValue"><div
									class="wpfFilterTaxNameWrapper">test</div></span></span></label></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="wpfFilterButtons">
					<button class="wpfClearButton wpfButton">Clear</button>
				</div>
				<div class="wpfLoaderLayout" style="display: none;"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				</div>
				<div class="wpfPreview wpfPreviewLoader wpfHidden">
					<div class="woobewoo-filter-loader spinner"></div>
				</div>
			</div>
		</div>
		<div class="woocommerce-products" data-select2-id="select2-data-5-2a20">
			<div class="woocommerce-notices-wrapper"></div>
			<p class="woocommerce-result-count">
				Showing 1–16 of 25 results</p>
			<form class="woocommerce-ordering" method="get" style="display: block;">
				<label for="sort_by">Sort by:</label>
				<select name="orderby" class="orderby select2-hidden-accessible" aria-label="Shop order"
				        data-select2-id="select2-data-1-nmj5" tabindex="-1" aria-hidden="true">
					<option value="menu_order" selected="selected" data-select2-id="select2-data-3-prfe">Default
						sorting
					</option>
					<option value="popularity" data-select2-id="select2-data-10-j6qd">Sort by popularity</option>
					<option value="rating" data-select2-id="select2-data-11-vdt6">Sort by average rating</option>
					<option value="date" data-select2-id="select2-data-12-ana5">Sort by latest</option>
					<option value="price" data-select2-id="select2-data-13-vvnf">Sort by price: low to high</option>
					<option value="price-desc" data-select2-id="select2-data-14-y3pd">Sort by price: high to low
					</option>
				</select>
				<input type="hidden" name="paged" value="1">
				<input type="hidden" name="wpf_fbv" value="1"></form>
			<ul class="products columns-4">
				<li class="product type-product post-458 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/samsung-tu7000-43-class-hdr-4k-uhd-copy/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="300" height="300"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150@2x.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100@2x.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
					                                                                            sizes="(max-width: 300px) 100vw, 300px">
						<h2 class="woocommerce-loop-product__title">Samsung TU7000 43″ Class HDR 4K UHD (Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>299.99</bdi></span></span>
					</a><a href="?add-to-cart=458" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="458" data-product_sku=""
					       aria-label="Add “Samsung TU7000 43&quot; Class HDR 4K UHD (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-459 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/samsung-tu7000-43-class-hdr-4k-uhd-copy-2/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="300" height="300"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150@2x.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100@2x.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
					                                                                            sizes="(max-width: 300px) 100vw, 300px">
						<h2 class="woocommerce-loop-product__title">Samsung TU7000 43″ Class HDR 4K UHD (Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>299.99</bdi></span></span>
					</a><a href="?add-to-cart=459" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="459" data-product_sku=""
					       aria-label="Add “Samsung TU7000 43&quot; Class HDR 4K UHD (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-357 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/samsung-tu7000-43-class-hdr-4k-uhd/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="300" height="300"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-300x300.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150@2x.png 300w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-150x150.png 150w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-600x600.png 600w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100@2x.png 200w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320.png 320w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-100x100.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375.png 375w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-500x500.png 500w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-768x768.png 768w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091.png 940w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-200x200@2x.png 400w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-320x320@2x.png 640w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-31_210301091-375x375@2x.png 750w"
					                                                                            sizes="(max-width: 300px) 100vw, 300px">
						<h2 class="woocommerce-loop-product__title">Samsung TU7000 43″ Class HDR 4K UHD</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class="active"></span><span class="active"></span><span class="active"></span><span
									class="active"></span><span class="active half"></span>
									<div class="rating-count">4.33</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>299.99</bdi></span></span>
					</a><a href="?add-to-cart=357" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="357" data-product_sku=""
					       aria-label="Add “Samsung TU7000 43&quot; Class HDR 4K UHD” to your cart" rel="nofollow">Add
					to cart</a></li>
				<li class="product type-product post-413 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="100" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_135955593.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_135955593.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_135955593-30x30.png 30w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_135955593-200x200.png 200w"
					                                                                            sizes="(max-width: 100px) 100vw, 100px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=413" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="413" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote” to your cart" rel="nofollow">Add
					to cart</a></li>
				<li class="product type-product post-415 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-2/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="100" height="80"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140016326.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140016326.png 100w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140016326-30x24.png 30w"
					                                                                            sizes="(max-width: 100px) 100vw, 100px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=415" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="415" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote” to your cart" rel="nofollow">Add
					to cart</a></li>
				<li class="product type-product post-431 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=431" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="431" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-432 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-2/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=432" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="432" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-433 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-3/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=433" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="433" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-434 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-4/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=434" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="434" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-435 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-5/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=435" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="435" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-440 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-9/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=440" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="440" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-439 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-8/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=439" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="439" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-437 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-6/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=437" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="437" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-438 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-7/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=438" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="438" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-441 status-publish instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-10/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=441" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="441" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
				<li class="product type-product post-442 status-publish last instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
					<a href="https://wldbasethemdev.wpengine.com/product/70-isopropyl-alcohol-ipa-330-gal-tote-copy-11/"
					   class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="80" height="100"
					                                                                            src="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png"
					                                                                            class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail"
					                                                                            alt="" decoding="async"
					                                                                            loading="lazy"
					                                                                            srcset="https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614.png 80w, https://wldbasethemdev.wpengine.com/wp-content/uploads/2023/03/изображение_2023-03-23_140052614-24x30.png 24w"
					                                                                            sizes="(max-width: 80px) 100vw, 80px">
						<h2 class="woocommerce-loop-product__title">70% Isopropyl Alcohol (IPA) – 330 gal Tote
							(Copy)</h2>
						<div class="main-rating">
							<div class="rating_count">
								<div class="rating-result">
									<span class=""></span><span class=""></span><span class=""></span><span
									class=""></span><span class=""></span>
									<div class="rating-count">0</div>
								</div>
							</div>
						</div>

						<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
							class="woocommerce-Price-currencySymbol">$</span>15.00</bdi></span></span>
					</a><a href="?add-to-cart=442" data-quantity="1"
					       class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
					       data-product_id="442" data-product_sku=""
					       aria-label="Add “70% Isopropyl Alcohol (IPA) – 330 gal Tote (Copy)” to your cart"
					       rel="nofollow">Add to cart</a></li>
			</ul>
			<nav class="woocommerce-pagination">
				<ul class="page-numbers">
					<li><a class="prev page-numbers"
					       href="https://wldbasethemdev.wpengine.com/shop/page/1/">Previous</a></li>
					<li><a class="page-numbers"
					       href="https://wldbasethemdev.wpengine.com/shop/page/1/">1</a></li>
					<li><span aria-current="page" class="page-numbers current">2</span></li>
					<li><a class="page-numbers"
					       href="https://wldbasethemdev.wpengine.com/shop/page/3/">3</a></li>
					<li><a class="page-numbers"
					       href="https://wldbasethemdev.wpengine.com/shop/page/4/">4</a></li>
					<li><a class="page-numbers"
					       href="https://wldbasethemdev.wpengine.com/shop/page/5/">5</a></li>
					<li><a class="next page-numbers"
					       href="https://wldbasethemdev.wpengine.com/shop/page/3/">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>
