@import "../variables-and-mixins.pcss";

.section-test-five {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding: 40px 15px 20px;

	@media (--lg) {
		padding: 40px 0 20px;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.left {
			width: 100%;
			order: 1;

			@media (--lg) {
				width: 50%;
				order: inherit;
			}

			.img {
				margin-bottom: 20px;

				img {
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.right {
			width: 100%;
			order: 2;

			@media (--lg) {
				width: 50%;
				max-width: 586px;
				margin: 0 auto 0 0;
				padding: 20px 0 20px 40px;
				order: inherit;
			}
		}
	}
}
