@import "../../../../../src/styles/variables-and-mixins.pcss";

.section-form {
	.title {
		@include text-style-text-headline-2;

		background: $color-colors-element;
		text-align: center;
		padding: 23px;
		margin-bottom: 3px;
	}

	.gform_wrapper {
		padding: 47px 50px;
		background: $color-colors-element;
	}
}
