@import "../../variables-and-mixins.pcss";

.title {
	@include text-style-text-headline-2;

	&_main {
		@include text-style-text-headline-1;
	}

	&_second {
		@include text-style-text-headline-3;
	}
}
